body {
    padding-top: 10px;
    background: #FAFCFB;
    color: #245558;
    font-weight: 400;
    height: 1000px;
}
h4 {
    font-weight: 400;
}

/* Header */
#header-text {
    margin-top: 12px;
    margin-left: 10px;
    border-left-style: solid;
    border-width: 1px;
    padding-left: 10px;
}
a {
    color: black !important;
    text-decoration: none;
}
#logo {
    width:150px;
}
li:hover{
    background: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
}
.navbar-nav {
    float: right;
}
ul.nav a:hover { 
    color: grey !important; 
}
.navbar-nav>li>a {
    padding-top: 1;
    padding-bottom: 0;
}
/* Breaking line */
.line{
    border-bottom-style: solid;
    border-width: 1px;
    opacity: 0.1;
    color: black;
}
/* Services Box */
#services-box {
    background: white;
    margin-left: 10px;
}
.form-control {
    border: 0;
    padding: 0;
}
#service-list-item , #services-box-text {
    padding-left: 5px;
    padding-right: 5px;
}
.list-group-item:first-child {
    border-radius: 3px;
}
.list-group-item {
    border: 0;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: lightgray;
}
/* Services info box */
#service-info {
    height: 400px;
    background: white;

}
.service-info-items {
        padding-left: 20px;
        padding-right: 20px;
}
#service-info-text {
    font-weight: 400;
    margin-top:20px;
}
.service-info-sub-menues {
    font-weight: 300;
}
.service-info-sub-values {
    font-weight: 500;
}
/* Chat box */
#chat {
    height: 400px;
    background: white;
    float: right;
    margin-left: -50px;
    
}
.big-section {
    float: right;
    margin-right: 40px;
}
/* Wrapper class */
.wrapper { 
    border-radius: 10px;
    border: 1px solid lightblue;
    overflow: hidden !important;
}

/* Table wrapper class */
.table-wrapper { 
       border-radius: 10px;
       border: 1px solid lightblue;
   }
/* Padding class */
.padding-zero { 
    padding: 0;
   }
/* Title container */
#title-container {
    margin-top: 20px;
    margin-bottom: 30px;
}
/* Table customize */
.fa {
    padding: 10px;
}
.table-head {
 background-color: #E6ECEC;
}
input{
    width: 100px !important;
    height: 25px !important;
    border: 1px solid #355155 !important;
    border-radius: 4px !important;
}
.small-table-letters {
    font-size: 12px;
    width: 20px;
}
#transparent-span{
    color: transparent;
}